body{
    background-image: url(img/contato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contato{
    height: 100%;
    display: flex;
    width: 100%;
}
.formulario{
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow:
  3.1px 2.5px 5.3px rgba(0, 0, 0, 0.315),
  10.5px 8.3px 17.9px rgba(0, 0, 0, 0.385),
  47px 37px 80px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);
    color: #0036ff;
    text-shadow: 1px 1px 1px #e94d23;
    font-family: 'Raleway', sans-serif;
    right: 550px;
    
}
.label_area{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.input_area{
    border-radius: 50px;
    background: transparent;
    color: rgb(26, 10, 70);
    text-align: center;
}
textarea{
    border-radius: 10px;
    background: transparent;
    color: rgb(26, 10, 70);
    font-size: 20px;
    font-weight: bold;  
    width: 100%; 
}
.label_area, .input_area, .check_contato{
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    width: 400px;
}
.check_contato{
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.btn{
    text-align: center;
    border-radius: 30px;
    box-shadow:
    3.1px 2.5px 5.3px rgb(26, 10, 70),
    10.5px 8.3px 17.9px rgb(26, 10, 70),
    47px 37px 80px rgb(26, 10, 70);
    background-color: transparent;
    color: #0036ff;
    text-shadow: 2px 2px 2px #e94d23;
   display: flex;
   font-size: 20px;
   font-weight: bold;
   margin-top: 300px;
   padding: 10px 80px;
   cursor: pointer;
}
.btn:hover{
    transform: scale(1.2);
    background-color: #e94e236c;
}
.mensagem_enviada{
    background-color: #e94e234d;
    border: 2px #0036ff solid;
    border-radius: 50px;
    padding: 10px;
}
.mensagem_enviada:hover{
    background-color: #e94e23af;
    transform: scale(1.2);
    cursor: pointer;
}
@media screen and (min-width: 0){
    
    .formulario{
    border-radius: none;
    position: inherit;
    padding: 40px; 
    }
    .label_area, .input_area, .check_contato
    {
     width: auto;
    }  
}
@media screen and (min-width: 700px){
   .formulario{
    border-radius: 30px;
    padding: 40px;  
    margin-left: 80px;
   } 
   .label_area, .input_area, .check_contato{
    width: 400px;
}
}